.homeMainContainer {
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

.productsContainer {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  @media screen and (max-width: 1200px) {
    top: 0vh;
  }
  .productRow {
    display: flex;
    justify-content: space-around;
    width: 100%;

    @media screen and (max-width: 1200px) {
      flex-direction: row;
      width: 95%;
      flex-wrap: wrap;
    }
  }
}
