.visible {
  min-width: 6vw;
  width: auto;
  height: auto;
  background-color: white;
  color: black;
  position: absolute;
  z-index: 500;
  bottom: 0;
  right: 0;
  transform: translateY(120%);
  border-radius: 2px;
  @media screen and (max-width: 1500px) {
    background-color: orange;
    color: white;
  }

  .modalContainer {
    position: relative;
    padding: 5px;
    p {
      cursor: pointer;
    }
    &::before {
      content: "";
      position: absolute;
      top: -5px;
      right: 10px;
      width: 10px;
      height: 10px;
      background-color: rgb(255, 255, 255);
      transform: rotate(45deg);
      @media screen and (max-width: 1500px) {
        background-color: orange;
      }
    }
  }
}
.none {
  display: none;
}
