@import "../../utils/variables.scss";
.header {
  width: 100%;
  height: 4vh;
  background-color: rgb(0, 0, 0);
  padding: 18px 0px 5px 0px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  @media (max-width: 900px) {
    height: 120px;
  }
  .leftOptions {
    display: flex;
    align-items: center;
    @media screen and (max-width: 900px) {
      height: 100%;
      align-items: start;
      flex-direction: column;
      width: 100%;
      padding: 5px;
    }
    .hambAndLogo {
      display: flex;
      .hambContainer {
        width: 25px;
        @media screen and (min-width: 900px) {
          display: none;
        }
        .hambIcon {
          height: 100%;
          width: 100%;
          color: white;
          position: relative;
          bottom: 10px;
          left: 2px;
        }
      }
    }

    .logo {
      width: 100px;
      color: white;
      margin-left: 20px;
    }
    .search {
      display: flex;
      align-items: center;
      width: 61.7vw;
      height: 4.3vh;
      margin-bottom: 1.4vh;
      margin-left: 10.1vw;
      border-radius: 5px;
      overflow: hidden;
      @media screen and (max-width: 900px) {
        width: 97%;
        height: 45px;
        margin-left: 51%;
        transform: translate(-50%);
      }

      input {
        width: 100%;
        height: 100%;
        border: none;
        font-size: 16px;
      }
      .searchImgContainer {
        width: 5vh;
        height: 100%;
        background-color: #ff9900;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 900px) {
          width: 60px;
          border-radius: 5px;
          position: relative;
          right: 3px;
        }
      }
      .magnifyingGlass {
        width: 50%;
        font-weight: 100;
        cursor: pointer;
      }
    }
  }
  .rightOptions {
    color: white;
    display: flex;
    font-size: 12px;
    align-items: center;
    margin-left: 1vw;
    margin-bottom: 1.5vh;
    flex-grow: 1;
    padding-right: 15px;
    height: 6.5vh;
    min-width: 350px;
    position: relative;
    @media screen and (max-width: 900px) {
      min-width: 200px;
      height: 6vh;
      position: absolute;
      right: 0;
      top: 0;
    }
    .userDescriptionContainer {
      display: flex;

      height: 100%;
    }
    .bonjour {
      @media screen and (max-width: 900px) {
        display: none;
      }
    }
    .user {
      @media screen and (max-width: 900px) {
        position: absolute;
        top: 50%;
        margin: 0;
        right: 9vw;
        font-weight: bold;
        transform: translateY(-50%);
        font-size: 14px;
      }
    }
    .userIcon {
      display: none;
      @media screen and (max-width: 900px) {
        position: absolute;
        left: 90%;
        transform: translate(-50%);
        width: 6vw;
        height: 3vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .userIconContainer {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      .userIcon {
        width: 100%;
      }
    }
    .compte {
      @media screen and (max-width: 900px) {
        display: none;
      }
    }

    &__option {
      height: 80%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0px 5px 0px 5px;
      &:hover {
        border: 1px solid white;
        padding: 0px 4px 0px 4px;
      }
      @media screen and (max-width: 900px) {
        &:hover {
          border: none;
        }
      }

      cursor: pointer;
      strong {
        font-weight: 900;
      }

      &:hover .cartItems {
        margin-right: -1px;
      }
      &--user {
        position: relative;
      }
      &--return {
        @media screen and (max-width: 900px) {
          display: none;
        }
      }
      &--basket {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: start;
        .imgContainer {
          position: relative;
          @media screen and (max-width: 900px) {
            position: absolute;
            right: 18px;
            top: 0px;
          }

          .cartItems {
            position: absolute;
            left: 55%;
            color: #ff9900;
            font-weight: 600;
            font-size: 18px;
            text-align: center;
            top: 2px;
          }
        }
        strong {
          margin-bottom: 0.7vh;
        }
        .panier {
          @media screen and (max-width: 900px) {
            display: none;
          }
        }
      }
    }
  }
}
